 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Mulish:wght@400;700;800&display=swap');

 :root{
    --primary-heading-black: #131318;
    --primary-text-gray: #5A5A5D;
    --secondary-btn-color-orange: #FF5400;
    --primary-font-family: Mulish;
     }

 body{
    margin: 0;
    padding: 0;
 }

 /* Nav styles */
  header, 
 .nav-container, 
 .destination-container,
 .popular-tour, 
 .destination-container, 
 .news-container
 {
   max-width: 80%;
   margin: 20px 50px;
 }
 .nav-container{
   /* max-width: 80%; */
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-bottom: 50px;
    }
 .nav-head{
   display: flex;
 }
#menu-btn{
   position: absolute;
   top: 50px;
   right: 50px;
   width: 30px;
   border: 1px solid red;
 }
 nav h3{
      color: var(--primary-heading-black);
      font-family: var(--primary-font-family);
      font-size: 2rem;
      font-weight: 800;
 }
 .nav-link a{
   text-decoration: none;
   color: var( --primary-text-gray);
   text-align: center;
   font-family: var(--primary-font-family);
   font-size: 1rem;
   font-weight: 400;
   padding-left: 40px;
 }
 nav span {
    color: var( --secondary-btn-color-orange) ;
 }

 /* Banner styles */
.banner-container{
   height: 500px;
   background-image: url(../Images/Banner.png);
   background-blend-mode: darken;
  }
.banner-form{
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   align-items: center;
   margin: 30px auto;  
   padding: 10px 0px;
   border-radius: 8px;
   background: rgba(255, 255, 255, 0.30);
}
.banner-content{
   margin:auto ;
   width: 670px;
   text-align: center;
}
.banner-content h1{
   color: #FFF;
   font-family: var(--primary-font-family);
   font-size: 3.5rem;
   font-weight: 800;
}
.banner-content p{
   color: #FFF;
   text-align: center;
      font-family: var(--primary-font-family);
   font-size: 0.9rem;
   font-weight: 400;
}
.banner{
   padding: 100px;
}
.banner-form input{
    width: 130px;
    height: 20px; 
    border: none;
    border-radius: 5px;
    padding: 10px;
}

.orange-button{
   width: 130px;
   color: #FFF;
   text-align: center;
   font-family: var(--primary-font-family);
   font-size: 0.9rem;
   font-weight: 700;
   border: none;
   border-radius: 5px;
   padding: 10px;
   background-color: var(--secondary-btn-color-orange);
  }

/* Popular Tours Styles */
.popular-tour{
   display: flex;
   justify-content: space-between;
   padding-top: 50px;
   /* gap: 20px; */
}
.popular-tour h1{
   max-width: 360px;
   color: var(--primary-heading-black);
   text-align: center;
   font-family: var(--primary-font-family);
   font-size: 2rem;
   font-weight: 800;
}
.popular-tour-content p, ul{
   max-width: 570px;
   color: rgba(19, 19, 24, 0.70);
   font-family: var(--primary-font-family);
   font-size: 0.9rem;
   font-weight: 400;
}

.popular-tour img{
   padding-left: 20px;
   width: 450px;
   height: 90%;
}

/* Choose your destination styles */
.destination-container h3{
   color: var(--primary-heading-black);
   text-align: center;
   font-family: var(--primary-font-family);
   font-size: 2.3rem;
   font-weight: 800;
}
.destination-container p{
   color: rgba(19, 19, 24, 0.70);
   text-align: center;
   font-family: var(--primary-font-family);
   font-size: 0.9rem;
   font-weight: 400;
   padding-bottom: 20px;
}


.img-container{
   display: grid;
   grid-template-columns: repeat(12, 1fr);
   grid-template-rows: repeat( 3, 1fr);
   gap: 10px;
   /* position: relative; */
   }
.img-container img{
   height: 100%;
    width: 100%;
   } 
.img-text{
   color: #FFF;
   /* text-align: center; */
   font-family: var(--primary-font-family);
   font-size: 1.5rem;
   font-weight: 800;
   /* position: absolute; */
   
}
.grid-img1{
   grid-column: 1/span 6;
}
.grid-img2{
   grid-column: 7/span 6;  /*starts from 7th column, span until 6 more columns*/
  }
.grid-img3{
   grid-column: 1/span 4;
   grid-row: 2/span 1;
}
.grid-img4{
   grid-column: 5/span 5;
   grid-row: 2/span 1;
}
.grid-img5{
   grid-column: 10/span 3;
   grid-row: 2/span 1;
}
.grid-img6{
   grid-column: 1/span 5;
   grid-row: 3/span 1;
}
.grid-img7{
   grid-column: 6/span 7;
   grid-row: 3/span 1;
}


/* Newsletter styles */
.news-img img{
   width: 500px;
   height: 350px;
   padding-left: 20px;
}
.news-input{
   display: flex;
   flex-direction: column;
   height: 100%;
   width: 390px;
   gap: 20px;
   padding-top: 20px;
}
.news-container{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 50px;
}
.news-content h3{
color: var(--primary-heading-black);
font-family: var(--primary-font-family);
font-size: 1.3rem;
font-weight: 800;
}
.news-content p{
   color: var(--primary-text-gray);
   font-family: var(--primary-font-family);
   font-size: 0.9rem;
   font-weight: 400;
   padding-bottom: 20px;
}

#newsletter-btn{
   width: 100%;
}



hr{
   color: rgba(19, 19, 24, 0.10);
}
/* Footer Styles */
.footer-container p{
   color: var(--primary-text-gray);
   text-align: center;
   font-family: var(--primary-font-family);
   font-size: 0.7rem;
   font-style: normal;
   font-weight: 400;
}
.footer-head, .footer-icons{
   display: flex;
   justify-content: center;
   align-items: center;
   padding-bottom: 10px;
}
.footer-icons{
     gap: 20px;
}
.footer-container{
   background: rgba(19, 19, 24, 0.05);
   height: 300px;
   margin: 50px auto;
   padding: 100px;
}

.allright-text{
   color: #131318;
   font-family: Inter;
   font-weight: 300;
}




  @media screen and (max-width: 600px) {
   nav, 
   .popular-tour,
   .news-container{
       max-width: 100%;
       flex-direction: column;
      }
      .nav-link{
         display: none;
      }
   .banner-container{
      max-width: 100%;
      background-size: 100% 500px;
      background-repeat: no-repeat;
    }
   .banner-form {
      max-width: 50%;
      margin: 30px auto;
      flex-direction: column;
      justify-content: center;
      gap: 10px;
           
   }
   .banner-content {
      max-width: 100%;
   }
   .banner{
      padding: 0px;
   }
   .popular-tour-content{
      padding-bottom: 20px;
   }

   .img-container{ 
     display: block;
     width: 100%;
     height: auto;   
    }
    .popular-tour img{
      /* padding-left: 20px; */
      width: 100%;
      padding: 0px;
    }
    .news-content{
      padding: 0px;
      padding-bottom: 50px;
    }